<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <!-- general form elements -->
      <div class="card">
        <div class="card-header">
          <strong>Add or Update plant</strong> &nbsp; 
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form #f="ngForm" (ngSubmit)="submit(f)">
       
          <div class="card-body">
            <div class="row">
              <div class="form-group col-sm-12">
                <label for="exampleInputEmail1"><strong>Plant Id</strong> </label>
                <input [(ngModel)]="model.plant_id" [readonly]="model.id != ''"   class="form-control" type="text" name="plant_id" placeholder="Plant Id" required>
              </div>
              <div class="form-group col-sm-12">
                <label for="exampleInputEmail1"><strong>Plant Name</strong> </label>
                <input [(ngModel)]="model.plant_name" class="form-control" type="text" name="plant_name" placeholder="Plant Name" required>
              </div>
              <div class="form-group col-sm-12">
                <label for="exampleInputEmail1"><strong>Plant Location</strong> </label>
                <input [(ngModel)]="model.plant_location" class="form-control" type="text" name="plant_location" placeholder="Plant Location" required>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <button [disabled]="!f.valid" class="btn btn-primary float-right" type="submit">{{model.id == '' ? 'Save':'Update'}}</button>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <hr>
              </div>
            </div>
            <div class="row"  style="max-height: 300px; overflow: auto;">
              <table class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <th>Sl No.</th>
                    <th>Plant Id</th>
                    <th>Plant Name</th>
                    <th>Plant Location</th>
                    <th>Edit</th>
                    <!-- <th>Delete</th> -->
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of modelData; let i = index"  class="{{(item.id==model.id ? 'selected':'')}}">
                    <td>{{i+1}}</td>
                    <td>{{item.plant_id}}</td>
                    <td>{{item.plant_name}}</td>
                    <td>{{item.plant_location}}</td>
                    <td><a (click)="onEdit(item)" href="javascript:void(0)">Edit</a></td>
                    <!-- <td><a (click)="onDelete(item)" href="javascript:void(0)">Delete</a></td> -->
                  </tr>

                </tbody>
              </table>
            </div>
          </div>
        </form>
      </div>
      <!-- /.card -->
    </div>
    <!-- /.card-body -->
  </div>

</div>