<div class="card">
  <div class="card-header">
    Baking Time Log
    <div class="card-header-actions">
     <span>Export &nbsp;&nbsp;&nbsp;</span> 
      <div class="btn-group">
        <button type="button" (click)="exportJsonToPdf()" class="btn btn-primary">PDF</button>
        <button type="button" (click)="exportAsXLSX();" class="btn btn-primary">Excel</button>
        <button type="button" (click)="exportAsCSV();" class="btn btn-primary">CSV</button>
        <button type="button" (click)="copyto();" class="btn btn-primary">Copy</button>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="row">

      <!-- <ag-grid-angular style="width: 100%; height: 500px;" class="ag-theme-material" [rowData]="rowData"
        [columnDefs]="columnDefs" [pagination]="true" [paginationAutoPageSize]="true"
        [getRowClass]="getRowClass"
        [defaultColDef]="defaultColDef">
      </ag-grid-angular> -->

      <ag-grid-angular
        #agGrid
        style="width: 100%; height: 500px;"
        id="myGrid"
        class="ag-theme-material"
        [columnDefs]="columnDefs"
        [defaultColDef]="defaultColDef"
        [rowData]="rowData"
        [overlayLoadingTemplate]="overlayLoadingTemplate"
        [overlayNoRowsTemplate]="overlayNoRowsTemplate"
        (gridReady)="onGridReady($event)"
        [pagination]="true" 
        [paginationAutoPageSize]="true"
      ></ag-grid-angular>
      <!-- (firstDataRendered)="onFirstDataRendered($event)"  -->
    </div>

    <!-- <div class="hidden" style="position: absolute; top: 0px; left: 0px;">
      <button (click)="onBtShowLoading()">Show Loading Overlay</button>
      <button (click)="onBtShowNoRows()">Show No Rows Overlay</button>
      <button (click)="onBtHide()">Hide Overlay</button>
    </div> -->


  </div>
</div>
<div style="display: none">
  <table class="table table-bordered" id="divBaking">
    <thead>
      <td>id</td>
      <td>Zone 1</td>
      <td>Zone 2</td>
      <td>Zone 3</td>
      <td>Zone 4</td>
      <td>Zone 5</td>
      <td>Zone 6</td>
      <td>product_name</td>
      <td>plantid</td>
      <td>lineid</td>
      <td>bk_time</td>
      <td>createAt</td>
    </thead>
    <tbody>
      <tr *ngFor="let item of rowData">
        <td>{{item.id}}</td>
        <td>{{item.t1}}</td>
        <td>{{item.t2}}</td>
        <td>{{item.t3}}</td>
        <td>{{item.t4}}</td>
        <td>{{item.t5}}</td>
        <td>{{item.t6}}</td>
        <td>Meri Gold</td>
        <td>{{item.plantid}}</td>
        <td>{{item.lineid}}</td>
        <td>{{item.bk_time}}</td>
        <td>{{item.createAt}}</td>
      </tr>
    </tbody>
  </table>
</div>