<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <!-- general form elements -->
      <div class="card">
        <div class="card-header">
          <strong>Mobile Number</strong> &nbsp; <small>Configuration</small>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form #f="ngForm" (ngSubmit)="submit(f)">
          <div class="card-body">
            <div class="row">
              <div class="form-group col-sm-6">
                <label><strong> Select Plant</strong></label>
                <select [(ngModel)]="model.plant_id" required (change)="onChange()" name="plant_id" class="form-control select2" id="plantid" ngModel ngModel name="plantid" style="width: 100%;">
                    <option *ngFor="let item of plants; let i = index" [value]="plants[i].id">
                        {{plants[i].name}}
                      </option>
                  </select>
              </div>
              <div class="form-group col-sm-6">
                <label for="exampleInputEmail1"><strong>Master Number</strong> </label>
                <input class="form-control" type="text" name="master_number" [(ngModel)]="model.master_number"
                  placeholder="Master Number">
              </div>

              <div class="form-group col-sm-6">
                <label for="exampleInputEmail1"><strong> Alternate Phone Number 1</strong></label>
                <input class="form-control" type="text" id="alt_number_one" name="alt_number_one" [(ngModel)]="model.alt_number_one"
                  placeholder="Alternate Phone Number 1">
              </div>
              <div class="form-group  col-sm-6">
                <label for="exampleInputEmail1"><strong> Alternate Phone Number 2</strong></label>
                <input class="form-control" type="text" id="alt_number_two" name="alt_number_two" [(ngModel)]="model.alt_number_two"
                  placeholder="Alternate Phone Number 2">
              </div>
              <div class="form-group col-sm-6">
                <label for="exampleInputEmail1"><strong> Alternate Phone Number 3</strong></label>
                <input class="form-control" type="text" id="alt_number_three" name="alt_number_three" [(ngModel)]="model.alt_number_three"
                  placeholder="Alternate Phone Number 3">
              </div>
              <div class="form-group col-sm-6">
                <label for="exampleInputEmail1"><strong> Alternate Phone Number 4</strong></label>
                <input class="form-control" type="text" id="alt_number_four" name="alt_number_four" [(ngModel)]="model.alt_number_four"
                  placeholder="Alternate Phone Number 4">
              </div>
              <div class="form-group col-sm-6">
                <label for="exampleInputEmail1"><strong> Alternate Phone Number 5</strong></label>
                <input class="form-control" type="text" id="alt_number_five" name="alt_number_five" [(ngModel)]="model.alt_number_five"
                  placeholder="Alternate Phone Number 5">
              </div>
              <div class="form-group col-sm-6">
                  <label for="exampleInputEmail1"><strong> Alternate Phone Number 6</strong></label>
                  <input class="form-control" type="text" id="alt_number_six" name="alt_number_six" [(ngModel)]="model.alt_number_six"
                    placeholder="Alternate Phone Number 6">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                  <hr>
                </div>
              </div>
              <button [disabled]="!f.valid" class="btn btn-primary float-right" type="submit">Update</button>
              <br>
            
          </div>
        </form>
      </div>
      <!-- /.card -->
    </div>
    <!-- /.card-body -->
  </div>

</div>